.menu {
    position: relative;
    transition: all 0.5s;
    &__list {
        display: flex;
        gap: 30px;
    }
    &__close-btn {
        position: absolute;
        top: 18px;
        right: 20px;
        display: none;
    }
    &__item {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    }
    &__logout {
        display: none;
    }
}